# Variables

Numeric Types
1. bool (bolean)
2. int
3. float
4. complex

In [2]:
a=2
b=1.2
c=1/3
d=True
e=12121212121212
f=1j

In [3]:
a+b

3.2

In [4]:
a*c

0.6666666666666666

In [5]:
(b+d)*a

4.4

In [61]:
a+f

(2+1j)

# Other value types:
    
    - str (string)
    - list (ordered array)
    - tuple (unordered immutable array)
    - dictionary (unordered list of key and values)

In [7]:
my_name = "Varun"
print(my_name)

Varun

In [14]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [16]:
my_list + [6]

[1, 2, 3, 4, 5, 6]

In [17]:
my_list += [6,7,8]
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
my_list.append(9)
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [26]:
my_dict = {"name" : "Varun", "credit" : 100}
my_dict

{'name': 'Varun', 'credit': 100}

In [27]:
my_dict["name"]

'Varun'

In [28]:
my_dict["credit"]

100

In [30]:
my_dict["level"] = 5
my_dict

{'name': 'Varun', 'credit': 100, 'level': 5}

In [31]:
my_dict.values()

dict_values(['Varun', 100, 5])

In [60]:
my_dict.keys()

dict_keys(['name', 'credit', 'level'])

# Selecting / slicing

In [47]:
# to find the length use len
len(my_list)

9

In [48]:
# to access single value in the list use this syntax
my_list[0]

1

In [49]:
#here the end index is never selected. It stops before the end index
#this is within the list
#index[start:end:step]
my_list[1:2]

[2]

In [50]:
my_list[:3]

[1, 2, 3]

In [51]:
my_list[3:]

[4, 5, 6, 7, 8, 9]

In [52]:
#starts from 3 and stops before the last one - a range basically
my_list[3:-1]

[4, 5, 6, 7, 8]

In [53]:
#print the elements from initial index to last index with increment of 2 index.So it selects 0 and adds 2 everytime
my_list[::2]

[1, 3, 5, 7, 9]

In [54]:
#print the elements from initial index to last index with increment of 2 index.So it selects 1 and adds 2 everytime
my_list[1::2]

[2, 4, 6, 8]

In [55]:
#NOTE: Negative index selects from the end of the list unlike in R, it does not remove

In [56]:
my_list[-1]

9

In [57]:
my_list[-2]

8

In [58]:
my_list[-2:]

[8, 9]

In [59]:
my_list[:-2]

[1, 2, 3, 4, 5, 6, 7]

# STRINGS

In [62]:
my_name

'Varun'

In [63]:
my_name[-1]

'n'

In [64]:
my_name[:2]

'Va'

# UNICODE

In [71]:
first_name = "Varun"
last_name = "Vaaaa"
formatted_name= "%s,%s." % (last_name,first_name[0])
print(formatted_name)

Vaaaa,V.

In [77]:
homeworks = 15.75
midterm = 20
final = 50
total = homeworks+midterm+final

print("homeworks: %.2f\nMid-term: %.2f\nfinal: %.2f\ntotal: %.2f/100" % (homeworks,midterm,final,total))

homeworks: 15.75
Mid-term: 20.00
final: 50.00
total: 85.75/100

# using format (*args, **kwargs) function

In [78]:
url = "http://{language}.wikipedia.org/"
url = url.format(language="en")
url

'http://en.wikipedia.org/'

# MATHEMATICS

In [81]:
14/7

2.0

In [82]:
14//7

2

In [86]:
5/2

2.5

In [87]:
5//2

2

In [83]:
2*5

10

In [84]:
2**5

32